<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Naturecircle - Premium eCommerce Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

        <!-- All css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/ie7.css">
        <link rel="stylesheet" href="assets/css/plugins.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    </head>
    <body>
        
        <!-- Header Area Start -->
        <header class="header-area header-sticky">
            <div class="header-container">
                <div class="row">
                    <div class="col-lg-5 display-none-md display-none-xs">
                        <div class="ht-main-menu">
                           <nav>
                               <ul>
                                   <li class="active"><a href="index.html">首页</a>
                                       <ul>
                                           <li><a href="index.html">首页</a></li>                                          
                                       </ul>
                                   </li>
                                   <li><a href="shop.html">分类<i class="fa fa-angle-down"></i></a>
                                       <ul class="ht-mega-menu">
                                           <li>
                                               <ul>
                                                   <li class="mega-menu-title">核果类</li>
                                                   <li><a href="shop.html">桃</a></li>
                                                   <li><a href="shop.html">杏</a></li>
                                                   <li><a href="shop.html">李、</a></li>
                                                   <li><a href="shop.html">樱桃</a></li>
                                                   <li><a href="shop.html"><img src="assets/img/banner/menu-1.jpg" alt=""></a></li>
                                               </ul>
                                           </li>                                          
                                       </ul>
                                   </li>
                                   <li><a href="shop.html">门店<i class="fa fa-angle-down"></i></a>
                                       <ul>
                           				<li><a href="shop.html">门店</a></li>
                                           <li><a href="cart.html">购物车</a></li>
                                           <li><a href="checkout.html">结算</a></li>
                                       </ul>
                                   </li>
                                   <li><a href="blog.html">博客专栏<i class="fa fa-angle-down"></i></a>
                                       <ul>
                                           <li><a href="blog.html">博客</a></li>
                                           <li><a href="blog-details.html">博客详情</a></li>
                                       </ul>
                                   </li>
                                   <li><a href="contact.html">联系我们</a></li>
                               </ul>
                           </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div class="logo text-center">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt="NatureCircle"></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-8">
                        <div class="header-content d-flex justify-content-end">
                            <div class="search-wrapper">
                                <a href="#"><span class="icon icon-Search"></span></a>
                                <form action="#" class="search-form">
                                    <input type="text" placeholder="请输入您要搜索的商品信息...">
                                    <button type="button">搜索</button>
                                </form>
                            </div>
                            <div class="settings-wrapper">
                                <a href="#"><i class="icon icon-Settings"></i></a>
                               <div class="settings-content">
                                   <h4>我的账户<i class="fa fa-angle-down"></i></h4>
                                   <ul>
                                       <li><a href="#" class="modal-view button" data-toggle="modal" data-target="#register_box">注册</a></li>
                                       <li><a href="#" class="modal-view button" data-toggle="modal" data-target="#login_box">登录</a></li>
                                   </ul>
                               </div>
                            </div>
                            <div class="cart-wrapper">
                                <a href="#">
                                    <i class="icon icon-FullShoppingCart"></i>
                                    <span>2</span>
                                </a>
                               <div class="cart-item-wrapper">
                                   <div class="single-cart-item">
                                       <div class="cart-img">
                                           <a href="cart.html"><img src="assets/img/cart/1.jpg" alt=""></a>
                                       </div>
                                       <div class="cart-text-btn">
                                           <div class="cart-text">
                                               <h5><a href="cart.html">Fresh Fruit Juice</a></h5>
                                               <span class="cart-qty">×1</span>
                                               <span class="cart-price">$68.00</span>
                                           </div>
                                           <button type="button"><i class="fa fa-close"></i></button>
                                       </div>
                                   </div>
                                   <div class="single-cart-item">
                                       <div class="cart-img">
                                           <a href="cart.html"><img src="assets/img/cart/2.jpg" alt=""></a>
                                       </div>
                                       <div class="cart-text-btn">
                                           <div class="cart-text">
                                               <h5><a href="cart.html">Fresh Vegetables</a></h5>
                                               <span class="cart-qty">×1</span>
                                               <span class="cart-price">$98.00</span>
                                           </div>
                                           <button type="button"><i class="fa fa-close"></i></button>
                                       </div>
                                   </div>
                                   <div class="cart-price-total">
                                       <div class="cart-price-info d-flex justify-content-between">
                                           <span>总金额 :</span>
                                           <span>$166.00</span>
                                       </div>
                                   </div>
                                   <div class="cart-links">
                                       <a href="cart.html">查看购物车</a>
                                       <a href="checkout.html">结账</a>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Area End -->
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="mobile-menu container">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="index.html">首页</a>
                                <ul>
                                    <li><a href="index.html">首页</a></li>
                                </ul>
                            </li>
                            <li><a href="shop.html">门店</a>
                                <ul>
                                    <li><a href="cart.html">购物车</a></li>
                                    <li><a href="checkout.html">订单结算</a></li>
                                    <li><a href="product-details.html">门店详情</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">博客</a>
                                <ul>
                                    <li><a href="blog.html">blog n</a></li>
                                    <li><a href="blog-details.html">博客专栏</a></li>
                                   
                                </ul>
                            </li>
                            <li><a href="contact.html">联系我们</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </nav>							
                </div>
            </div>
            <!-- Mobile Menu Area End -->
           <!--Start of Login Form-->
           <div class="modal fade" id="login_box" tabindex="-1" role="dialog">
               <div class="modal-dialog" role="document">
                   <div class="modal-content">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                       </div>
                       <div class="modal-body">
                           <div class="form-pop-up-content">
           					<h2>登录</h2>
           					<form action="#" method="post">
           						<div class="form-box">
           							<input type="text" placeholder="用户名" name="username">
           							<input type="password" placeholder="密码" name="pass">
           						</div>
           						<div class="checkobx-link">
           						    <div class="left-col">
           					            <input type="checkbox" id="remember_me"><label for="remember_me">记住用户</label>
           						    </div>
           						    <div class="right-col"><a href="#">忘记密码</a></div>
           						</div>
           					    <button type="submit">登录</button>
           					</form>
           				</div>
                       </div>	
                   </div>	
               </div>
           </div>
           <!--End of Login Form-->
           <!--Start of Register Form-->
           <div class="modal fade" id="register_box" tabindex="-1" role="dialog">
               <div class="modal-dialog" role="document">
                   <div class="modal-content">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                       </div>
                       <div class="modal-body">
                           <div class="form-pop-up-content">
           					<h2>注册用户</h2>
           					<form action="#" method="post">
           						<div class="form-box">
           							<input type="text" placeholder="Full Name" name="fullname">
           							<input type="text" placeholder="User Name" name="username">
           							<input type="email" placeholder="Email" name="email">
           							<input type="password" placeholder="Password" name="pass">
           							<input type="password" placeholder="Confirm Password" name="re_pass">
           						</div>
           						<div class="checkobx-link">
           						    <div class="left-col">
           					            <input type="checkbox" id="remember_reg"><label for="remember_reg">记住用户</label>
           						    </div>
           						</div>
           					    <button class="text-uppercase" type="submit">注册</button>
           					</form>
           				</div>
                       </div>	
                   </div>	
               </div>
           </div>
           <!--End of Register Form-->
        </header>
        <!-- Header Area End -->
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-12 text-center">
            <div class="container">
                <h1>Blog Details</h1>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Breadcrumb Area End -->
        <!-- Post Area Start -->
        <div class="post-area blog-area pt-110 pb-95 post-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8">
                        <div class="single-post-item text-center pb-70">
                            <h3 class="single-post-title"><a href="blog-details.html">Blog image post</a></h3>
                            <div class="single-post-meta">
                                <span> Posts by : admin</span>
                                <span>March 10, 2018</span>
                            </div>
                            <div class="single-post-img">
                                <img src="assets/img/blog/post/1.jpg" alt="">
                            </div>
                            <div class="single-post-info-text text-left">
                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse potenti.</p>
                                <p class="post-quote">Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</p>
                                <p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.</p>
                                <p>Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et eget neque. Nunc ante quam, luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu, fringilla a sem condimentum, viverra facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.</p>
                            </div>
                            <div class="single-post-tag">
                                <a href="#" class="scroll-down">3 comments</a>
                                <div class="single-post-tag-link">
                                    <span> / Tags:</span>
                                    <a href="#">hipster,</a>
                                    <a href="#">holidays,</a>
                                    <a href="#">light,</a>
                                    <a href="#">place,</a>
                                    <a href="#">video-2</a>
                                </div>
                            </div>
                            <h4 class="single-post-share">Share this post</h4>
                            <div class="post-social-link">
                                <a href="#" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                        <div class="post-comment-area pt-90 scroll-area">
                            <h4 class="post-title">3 comments</h4>
                            <div class="post-comment-container">
                                <div class="single-post-comment">
                                    <div class="single-post-image">
                                        <img src="assets/img/icon/logo.jpg" alt="">
                                    </div>
                                    <div class="single-post-content">
                                        <div class="single-post-info">
                                            <a href="#">admin</a>
                                            <span>October 6, 2018 at 1:38 am</span>
                                            <p>just a nice post</p>
                                        </div>
                                        <button type="button">reply</button>
                                    </div>
                                </div>
                                <div class="single-post-comment">
                                    <div class="single-post-image">
                                        <img src="assets/img/icon/logo.jpg" alt="">
                                    </div>
                                    <div class="single-post-content">
                                        <div class="single-post-info">
                                            <a href="#">demo</a>
                                            <span>October 6, 2018 at 1:38 am</span>
                                            <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                        </div>
                                        <button type="button">reply</button>
                                    </div>
                                </div>
                                <div class="single-post-comment">
                                    <div class="single-post-image">
                                        <img src="assets/img/icon/logo.jpg" alt="">
                                    </div>
                                    <div class="single-post-content">
                                        <div class="single-post-info">
                                            <a href="#">admin</a>
                                            <span>October 6, 2018 at 1:38 am</span>
                                            <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec</p>
                                        </div>
                                        <button type="button">reply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="#" class="post-comment-form">
                            <h4 class="post-title">Leave a Reply</h4>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <label for="post-text">Comment</label>
                            <textarea name="post-comment" id="post-text" cols="30" rows="10"></textarea>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="post-name">Name *</label>
                                    <input type="text" id="post-name">
                                </div>
                                <div class="col-lg-4">
                                    <label for="post-email">Email *</label>
                                    <input type="email" id="post-email">
                                </div>
                                <div class="col-lg-4">
                                    <label for="post-website">Website</label>
                                    <input type="text" id="post-website">
                                </div>
                            </div>
                            <button type="submit" class="default-btn">post comment</button>
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="sidebar-wrapper">
                            <div class="sidebar-widget sidebar-search-widget">
                                <h3>Search</h3>
                                <form action="#" class="sidebar-search-box">
                                    <input type="text" placeholder="Search...">
                                    <button type="button"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="sidebar-widget">
                                <h3>Blog Archives</h3>
                                <div class="sidebar-widget-option-wrapper">
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">March 2015 <span>(1)</span></a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">December 2015 <span>(3)</span></a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">Novermber 2014 <span>(7)</span></a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">September 2015 <span>(1)</span></a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">August 2015 <span>(3)</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <h3>Recent Posts</h3>
                                <div class="sidebar-widget-option-wrapper">
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">Blog Image Post</a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">Post With Gallery</a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">Post With Audio</a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">Post With Video</a>
                                    </div>
                                    <div class="sidebar-widget-option">
                                        <a href="blog-details.html">Post Image Link</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget">
                                <h3>Product Tags</h3>
                                <ul class="sidebar-widget-tag">
                                    <li><a href="#">chilled</a></li>
                                    <li><a href="#">Dark</a></li>
                                    <li><a href="#">Euro</a></li>
                                    <li><a href="#">fashion</a></li>
                                    <li><a href="#">food</a></li>
                                    <li><a href="#">hardware</a></li>
                                    <li><a href="#">hat</a></li>
                                    <li><a href="#">hipster</a></li>
                                    <li><a href="#">holidays</a></li>
                                    <li><a href="#">light</a></li>
                                    <li><a href="#">cup</a></li>
                                    <li><a href="#">place</a></li>
                                    <li><a href="#">t-shirt</a></li>
                                    <li><a href="#">travel</a></li>
                                    <li><a href="#">video-2</a></li>
                                    <li><a href="#">white</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Post Area End -->
     <!-- Footer Area Start -->
     <footer class="footer-area">
         <!-- Footer Top Area Start -->
         <div class="footer-top bg-4 pt-120 pb-120">
             <!-- Newsletter Area Start -->
                 <div class="newsletter-area">
                     <div class="container text-center">
                         <div class="newsletter-container">
                             <h2>千果园</h2>
                             <p>请留下您的邮箱,以方便我们及时向您更新我们的最新商品</p>
                             <div class="newsletter-form mc_embed_signup">
                                 <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                     <div id="mc_embed_signup_scroll" class="mc-form">
                                         <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter you email address here..." required>
                                         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                         <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                         <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="default-btn">Subscribe</button>
                                     </div>
                                 </form>
                             </div>
                         </div>
                         <div class="social-icon">
                             <a href="#"><i class="fa fa-twitter"></i></a>
                             <a href="#"><i class="fa fa-google-plus"></i></a>
                             <a href="#"><i class="fa fa-facebook"></i></a>
                             <a href="#"><i class="fa fa-youtube"></i></a>
                             <a href="#"><i class="fa fa-flickr"></i></a>
                         </div>
                     </div>
                 </div>
             <!-- Newsletter Area End -->
             <!-- Service Area Start -->
             <div class="service-area pt-50">
                 <div class="container">
                     <div class="service-container">
                         <div class="service-content">
                             <div class="row">
                                 <div class="col-lg-4 col-md-4">
                                     <div class="single-service">
                                         <div class="service-image">
                                             <img src="assets/img/icon/rocket.png" alt="">
                                         </div>
                                         <div class="service-text">
                                             <h3>免费配送</h3>
                                             <p>全国一站式免费配送服务(除港、澳、台及偏远地区除外)</p>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-4 col-md-4">
                                     <div class="single-service">
                                         <div class="service-image">
                                             <img src="assets/img/icon/money.png" alt="">
                                         </div>
                                         <div class="service-text">
                                             <h3>安全提示</h3>
                                             <p>为保证您的支付安全以及配送安全,请不要随意对陌生账号进行支付,本公司不会主动给您发送各种免费赠送等服务的信息,请注意您的支付安全谨防上当!</p>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-4 col-md-4">
                                     <div class="single-service">
                                         <div class="service-image">
                                             <img src="assets/img/icon/support.png" alt="">
                                         </div>
                                         <div class="service-text">
                                             <h3>实时在线</h3>
                                             <p>每日(8:00am~10:00pm)都有甜甜的小姐姐给您提供各种问题解答服务哦!(周六、日及法定节假日除外)</p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- Service Area End -->
             <!-- Footer Widget Area Start -->
             <div class="footer-widget-area">
                 <div class="container">
                     <div class="row">
                         <div class="col-lg-4 col-md-6">
                             <div class="single-footer-widget">
                                 <div class="footer-logo">
                                     <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
                                 </div>
                                 <p>定期对合作供应商进行的质量、生产、包装和管理体系综合评估，推动合作伙伴的生产管理与质量管理，撑起食品安全保护伞。每一件进口产品经过层层检验，严格把关质量，出入境检验检疫，获得相应卫生证书，正品溯源，安全可靠。</p>
                                 <div class="footer-text">
                                     <span><i class="icon icon-Pointer"></i>Address :湖北省武汉市洪山区五环天地A栋16F</span>
                                     <span><i class="icon icon-Phone"></i>Phone : 123 4567 8910 (0724)4006005</span>
                                     <span><i class="icon icon-Mail"></i>Email : 2904610060@tedu.cn</span>
                                 </div>
                             </div>
                         </div>
                         <div class="col-lg-2 col-md-3">
                             <div class="single-footer-widget">
                                 <h3>产品信息</h3>
                                 <ul class="footer-widget-list">
                                     <li><a href="#">价格下降</a></li>
                                     <li><a href="#">最新商品</a></li>
                                     <li><a href="#l">最好销量</a></li>
                                     <li><a href="#">商店</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-2 col-md-3">
                             <div class="single-footer-widget">
                                 <h3>公司信息</h3>
                                 <ul class="footer-widget-list">
                                     <li><a href="#">交货方式</a></li>
                                     <li><a href="#">法律声明</a></li>
                                     <li><a href="#">文献资料</a></li>
                                     <li><a href="#">安全支付</a></li>
                                     <li><a href="contact.html">联系我们</a></li>
                                     <li><a href="shop.html">门店信息</a></li>
                                 </ul>
                             </div>
                         </div>
                         <div class="col-lg-4">
                             <div class="single-footer-widget">
                                 <h3>照片墙</h3>
                                 <div class="instagram-image">
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/1.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/2.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/3.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/4.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/5.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/6.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/7.jpg" alt="">
                                     </div>
                                     <div class="single-insta-img">
                                         <img src="assets/img/instagram/8.jpg" alt="">
                                     </div>
                                 </div>
                                 Follow our instagram <i class="fa fa-angle-double-right"></i>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- Footer Widget Area End -->
         </div>
         <!-- Footer Top Area End -->
         <!-- Footer Bottom Area Start -->
         <div class="footer-bottom-area pt-15 pb-30">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-6 d-flex col-md-6">
                         <div class="footer-text-bottom">
                             <p>Copyright &copy; <a href="http://www.17sucai.com/">CGB1907-达内武汉洪山中心</a>. All Rights Reserved</p>
                         </div>
                     </div>
                     <div class="col-lg-6 col-md-6">
                         <div class="payment-img d-flex justify-content-end">
                             <img src="assets/img/payment.png" alt="">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Footer Bottom Area End -->
     </footer>
     <!-- Footer Area End -->
        
        <!-- All js here -->
        <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
