<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Naturecircle - Premium eCommerce Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

        <!-- All css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/ie7.css">
        <link rel="stylesheet" href="assets/css/plugins.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    </head>
    <body>
        
        <!-- Header Area Start -->
        <header class="header-area header-sticky">
            <div class="header-container">
                <div class="row">
                         <div class="col-lg-5 display-none-md display-none-xs">
                             <div class="ht-main-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="index.html">首页</a>
                                            <ul>
                                                <li><a href="index.html">首页</a></li>                                          
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">分类<i class="fa fa-angle-down"></i></a>
                                            <ul class="ht-mega-menu">
                                                <li>
                                                    <ul>
                                                        <li class="mega-menu-title">核果类</li>
                                                        <li><a href="shop.html">桃</a></li>
                                                        <li><a href="shop.html">杏</a></li>
                                                        <li><a href="shop.html">李、</a></li>
                                                        <li><a href="shop.html">樱桃</a></li>
                                                        <li><a href="shop.html"><img src="assets/img/banner/menu-1.jpg" alt=""></a></li>
                                                    </ul>
                                                </li>                                          
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">门店<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                				<li><a href="shop.html">门店</a></li>
                                                <li><a href="cart.html">购物车</a></li>
                                                <li><a href="checkout.html">结算</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">博客专栏<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="blog.html">博客</a></li>
                                                <li><a href="blog-details.html">博客详情</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">联系我们</a></li>
                                    </ul>
                                </nav>
                             </div>
                         </div>
                         <div class="col-lg-2 col-sm-4">
                             <div class="logo text-center">
                                 <a href="index.html"><img src="assets/img/logo/logo.png" alt="NatureCircle"></a>
                             </div>
                         </div>
                         <div class="col-lg-5 col-sm-8">
                             <div class="header-content d-flex justify-content-end">
                                 <div class="search-wrapper">
                                     <a href="#"><span class="icon icon-Search"></span></a>
                                     <form action="#" class="search-form">
                                         <input type="text" placeholder="请输入您要搜索的商品信息...">
                                         <button type="button">搜索</button>
                                     </form>
                                 </div>
                                 <div class="settings-wrapper">
                                     <a href="#"><i class="icon icon-Settings"></i></a>
                                    <div class="settings-content">
                                        <h4>我的账户<i class="fa fa-angle-down"></i></h4>
                                        <ul>
                                            <li><a href="#" class="modal-view button" data-toggle="modal" data-target="#register_box">注册</a></li>
                                            <li><a href="#" class="modal-view button" data-toggle="modal" data-target="#login_box">登录</a></li>
                                        </ul>
                                    </div>
                                 </div>
                                 <div class="cart-wrapper">
                                     <a href="#">
                                         <i class="icon icon-FullShoppingCart"></i>
                                         <span>2</span>
                                     </a>
                                    <div class="cart-item-wrapper">
                                        <div class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="cart.html"><img src="assets/img/cart/1.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-text-btn">
                                                <div class="cart-text">
                                                    <h5><a href="cart.html">Fresh Fruit Juice</a></h5>
                                                    <span class="cart-qty">×1</span>
                                                    <span class="cart-price">$68.00</span>
                                                </div>
                                                <button type="button"><i class="fa fa-close"></i></button>
                                            </div>
                                        </div>
                                        <div class="single-cart-item">
                                            <div class="cart-img">
                                                <a href="cart.html"><img src="assets/img/cart/2.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-text-btn">
                                                <div class="cart-text">
                                                    <h5><a href="cart.html">Fresh Vegetables</a></h5>
                                                    <span class="cart-qty">×1</span>
                                                    <span class="cart-price">$98.00</span>
                                                </div>
                                                <button type="button"><i class="fa fa-close"></i></button>
                                            </div>
                                        </div>
                                        <div class="cart-price-total">
                                            <div class="cart-price-info d-flex justify-content-between">
                                                <span>总金额 :</span>
                                                <span>$166.00</span>
                                            </div>
                                        </div>
                                        <div class="cart-links">
                                            <a href="cart.html">查看购物车</a>
                                            <a href="checkout.html">结账</a>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- Header Area End -->
                 <!-- Mobile Menu Area Start -->
                 <div class="mobile-menu-area">
                     <div class="mobile-menu container">
                         <nav id="mobile-menu-active">
                             <ul class="menu-overflow">
                                 <li><a href="index.html">首页</a>
                                     <ul>
                                         <li><a href="index.html">首页</a></li>
                                     </ul>
                                 </li>
                                 <li><a href="shop.html">门店</a>
                                     <ul>
                                         <li><a href="cart.html">购物车</a></li>
                                         <li><a href="checkout.html">订单结算</a></li>
                                         <li><a href="product-details.html">门店详情</a></li>
                                     </ul>
                                 </li>
                                 <li><a href="blog.html">博客</a>
                                     <ul>
                                         <li><a href="blog.html">blog n</a></li>
                                         <li><a href="blog-details.html">博客专栏</a></li>
                                        
                                     </ul>
                                 </li>
                                 <li><a href="contact.html">联系我们</a></li>
                                 <li><a href="404.html">404</a></li>
                             </ul>
                         </nav>							
                     </div>
                 </div>
                 <!-- Mobile Menu Area End -->
                <!--Start of Login Form-->
                <div class="modal fade" id="login_box" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-pop-up-content">
                					<h2>登录</h2>
                					<form action="#" method="post">
                						<div class="form-box">
                							<input type="text" placeholder="用户名" name="username">
                							<input type="password" placeholder="密码" name="pass">
                						</div>
                						<div class="checkobx-link">
                						    <div class="left-col">
                					            <input type="checkbox" id="remember_me"><label for="remember_me">记住用户</label>
                						    </div>
                						    <div class="right-col"><a href="#">忘记密码</a></div>
                						</div>
                					    <button type="submit">登录</button>
                					</form>
                				</div>
                            </div>	
                        </div>	
                    </div>
                </div>
                <!--End of Login Form-->
                <!--Start of Register Form-->
                <div class="modal fade" id="register_box" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-pop-up-content">
                					<h2>注册用户</h2>
                					<form action="#" method="post">
                						<div class="form-box">
                							<input type="text" placeholder="Full Name" name="fullname">
                							<input type="text" placeholder="User Name" name="username">
                							<input type="email" placeholder="Email" name="email">
                							<input type="password" placeholder="Password" name="pass">
                							<input type="password" placeholder="Confirm Password" name="re_pass">
                						</div>
                						<div class="checkobx-link">
                						    <div class="left-col">
                					            <input type="checkbox" id="remember_reg"><label for="remember_reg">记住用户</label>
                						    </div>
                						</div>
                					    <button class="text-uppercase" type="submit">注册</button>
                					</form>
                				</div>
                            </div>	
                        </div>	
                    </div>
                </div>
                <!--End of Register Form-->
        </header>
        <!-- Header Area End -->
        <!-- Breadcrumb Area Start -->
        <div class="breadcrumb-area bg-12 text-center">
            <div class="container">
                <h1>Checkout</h1>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Breadcrumb Area End -->
        <!-- coupon-area start -->
        <div class="coupon-area pt-110">
            <div class="container">
                <div class="coupon-accordion">
                    <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                    <div id="checkout-login" class="coupon-content">
                        <div class="coupon-info">
                            <p class="coupon-text">If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
                            <form action="#">
                                <p class="form-row-first">
                                    <label>Username or email <span class="required">*</span></label>
                                    <input type="text" />
                                </p>
                                <p class="form-row-last">
                                    <label>Password  <span class="required">*</span></label>
                                    <input type="text" />
                                </p>
                                <p class="form-row">					
                                    <input type="submit" value="Login" />
                                    <label>
                                        <input type="checkbox" />
                                         Remember me 
                                    </label>
                                </p>
                                <p class="lost-password">
                                    <a href="#">Lost your password?</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- coupon-area end -->
        <!-- checkout-area start -->
        <div class="checkout-area pb-90">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="checkbox-form">						
                                <h3>结算详情</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="country-select">
                                            <label>城市 <span class="required">*</span></label>
                                            <select>
                                              <option value="volvo">北京</option>
                                              <option value="saab">上海</option>
                                              <option value="mercedes">广州</option>
                                              <option value="audi">武汉</option>
                                              <option value="audi2">深圳</option>
                                              <option value="audi3">杭州</option>
                                              <option value="audi4">乌鲁木齐</option>
                                              <option value="audi5">呼和浩特</option>
                                            </select> 										
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout-form-list">
                                            <label>姓名 <span class="required">*</span></label>	
                                            <input type="text" placeholder="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-form-list">
                                            <label>公司名</label>
                                            <input type="text" placeholder="Company Name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-form-list">
                                            <label>地址 <span class="required">*</span></label>
                                            <input type="text" placeholder="Street address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-form-list">									
                                            <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <div class="checkout-form-list">
                                            <label>邮政编码 <span class="required">*</span></label>
                                            <input type="text" placeholder="Postcode/Zip" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout-form-list">
                                            <label>邮箱地址 <span class="required">*</span></label>
                                            <input type="email" placeholder="E-mail" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout-form-list">
                                            <label>电话号码  <span class="required">*</span></label>	
                                            <input type="text" placeholder="Phonenumber" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-form-list create-acc">	
                                            <input id="cbox" type="checkbox" />
                                            <label for="cbox">创建一个账户?</label>
                                        </div>
                                        <div id="cbox_info" class="checkout-form-list create-account">
                                            <p>通过输入以下信息来创建帐户。如果您是回头客，请在页面顶部登录</p>
                                            <label>账号密码  <span class="required">*</span></label>
                                            <input type="password" placeholder="password" />	
                                        </div>
                                    </div>							
                                </div>
                                <div class="different-address">
                                    <div class="ship-different-title">
                                        <h3>
                                            <input id="ship-box" type="checkbox" />
                                            <label for="ship-box">运送到不同的地址?</label>
                                        </h3>
                                    </div>
                                    <div id="ship-box-info">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="country-select">
                                                    <label>城市 <span class="required">*</span></label>
                                                    <select>
                                                      <option value="saab">上海</option>
                                                      <option value="mercedes">广州</option>
                                                      <option value="audi">武汉</option>
                                                      <option value="audi2">深圳</option>
                                                      <option value="audi3">杭州</option>
                                                      <option value="audi4">乌鲁木齐</option>
                                                      <option value="audi5">呼和浩特</option>
                                                    </select> 										
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout-form-list">
                                                    <label>姓名 <span class="required">*</span></label>	
                                                    <input type="text" placeholder="name" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="checkout-form-list">
                                                    <label>公司名</label>
                                                    <input type="text" placeholder="Company Name" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="checkout-form-list">
                                                    <label>地址 <span class="required">*</span></label>
                                                    <input type="text" placeholder="Street address" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="checkout-form-list">	
                                                    <input type="text" placeholder="Apartment, suite, unit etc. (optional)" />
                                                </div>
                                            </div>
                                            
                                           
                                            <div class="col-lg-6">
                                                <div class="checkout-form-list">
                                                    <label>邮政编码 <span class="required">*</span></label>
                                                    <input type="text" placeholder="Postcode / Zip" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout-form-list">
                                                    <label>邮箱地址 <span class="required">*</span></label>
                                                    <input type="email" placeholder="E-mail" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="checkout-form-list">
                                                    <label>Phone  <span class="required">*</span></label>
                                                    <input type="text" placeholder="Phonenumber" />
                                                </div>
                                            </div>								
                                        </div>
                                    </div>
                                    <div class="order-notes">
                                        <div class="checkout-form-list">
                                            <label>订单须知</label>
                                            <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery." ></textarea>
                                        </div>									
                                    </div>
                                </div>													
                            </div>
                        </div>	
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="your-order">
                                <h3>您的订单</h3>
                                <div class="your-order-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-name">Product</th>
                                                <th class="product-total">Total</th>
                                            </tr>							
                                        </thead>
                                        <tbody>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    Vestibulum suscipit <strong class="product-quantity"> × 1</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">$165.00</span>
                                                </td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    Vestibulum dictum magna	<strong class="product-quantity"> × 1</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">$50.00</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">$215.00</span></td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Shipping</th>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <label>
                                                                Flat Rate: <span class="amount">$7.00</span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td>
                                                    <strong><span class="amount">$215.00</span></strong>
                                                </td>
                                            </tr>								
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel">
                                            <div class="panel-heading" id="headingOne">
                                                <a href="#checkout" data-toggle="collapse" data-parent="#accordion">现金支付</a>
                                            </div>
                                            <div id="checkout" class="collapse show">
                                                <div class="panel-body"> 
                                                    <p>如若您不习惯使用线上支付,我们支持货到付款</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" id="headingTwo">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#billing">
                                                    线上支付
                                                    <img src="assets/img/payment-paypa.png" alt="">
                                                </a>
                                            </div>
                                            <div id="billing" class="collapse">
                                                <div class="panel-body">
                                                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input class="default-btn" type="submit" value="Place order" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- checkout-area end -->	
 <!-- Footer Area Start -->
 <footer class="footer-area">
     <!-- Footer Top Area Start -->
     <div class="footer-top bg-4 pt-120 pb-120">
         <!-- Newsletter Area Start -->
             <div class="newsletter-area">
                 <div class="container text-center">
                     <div class="newsletter-container">
                         <h2>千果园</h2>
                         <p>请留下您的邮箱,以方便我们及时向您更新我们的最新商品</p>
                         <div class="newsletter-form mc_embed_signup">
                             <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                 <div id="mc_embed_signup_scroll" class="mc-form">
                                     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter you email address here..." required>
                                     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                     <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                     <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="default-btn">Subscribe</button>
                                 </div>
                             </form>
                         </div>
                     </div>
                     <div class="social-icon">
                         <a href="#"><i class="fa fa-twitter"></i></a>
                         <a href="#"><i class="fa fa-google-plus"></i></a>
                         <a href="#"><i class="fa fa-facebook"></i></a>
                         <a href="#"><i class="fa fa-youtube"></i></a>
                         <a href="#"><i class="fa fa-flickr"></i></a>
                     </div>
                 </div>
             </div>
         <!-- Newsletter Area End -->
         <!-- Service Area Start -->
         <div class="service-area pt-50">
             <div class="container">
                 <div class="service-container">
                     <div class="service-content">
                         <div class="row">
                             <div class="col-lg-4 col-md-4">
                                 <div class="single-service">
                                     <div class="service-image">
                                         <img src="assets/img/icon/rocket.png" alt="">
                                     </div>
                                     <div class="service-text">
                                         <h3>免费配送</h3>
                                         <p>全国一站式免费配送服务(除港、澳、台及偏远地区除外)</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4 col-md-4">
                                 <div class="single-service">
                                     <div class="service-image">
                                         <img src="assets/img/icon/money.png" alt="">
                                     </div>
                                     <div class="service-text">
                                         <h3>安全提示</h3>
                                         <p>为保证您的支付安全以及配送安全,请不要随意对陌生账号进行支付,本公司不会主动给您发送各种免费赠送等服务的信息,请注意您的支付安全谨防上当!</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4 col-md-4">
                                 <div class="single-service">
                                     <div class="service-image">
                                         <img src="assets/img/icon/support.png" alt="">
                                     </div>
                                     <div class="service-text">
                                         <h3>实时在线</h3>
                                         <p>每日(8:00am~10:00pm)都有甜甜的小姐姐给您提供各种问题解答服务哦!(周六、日及法定节假日除外)</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Service Area End -->
         <!-- Footer Widget Area Start -->
         <div class="footer-widget-area">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-4 col-md-6">
                         <div class="single-footer-widget">
                             <div class="footer-logo">
                                 <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
                             </div>
                             <p>定期对合作供应商进行的质量、生产、包装和管理体系综合评估，推动合作伙伴的生产管理与质量管理，撑起食品安全保护伞。每一件进口产品经过层层检验，严格把关质量，出入境检验检疫，获得相应卫生证书，正品溯源，安全可靠。</p>
                             <div class="footer-text">
                                 <span><i class="icon icon-Pointer"></i>Address :湖北省武汉市洪山区五环天地A栋16F</span>
                                 <span><i class="icon icon-Phone"></i>Phone : 123 4567 8910 (0724)4006005</span>
                                 <span><i class="icon icon-Mail"></i>Email : 2904610060@tedu.cn</span>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-2 col-md-3">
                         <div class="single-footer-widget">
                             <h3>产品信息</h3>
                             <ul class="footer-widget-list">
                                 <li><a href="#">价格下降</a></li>
                                 <li><a href="#">最新商品</a></li>
                                 <li><a href="#l">最好销量</a></li>
                                 <li><a href="#">商店</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-2 col-md-3">
                         <div class="single-footer-widget">
                             <h3>公司信息</h3>
                             <ul class="footer-widget-list">
                                 <li><a href="#">交货方式</a></li>
                                 <li><a href="#">法律声明</a></li>
                                 <li><a href="#">文献资料</a></li>
                                 <li><a href="#">安全支付</a></li>
                                 <li><a href="contact.html">联系我们</a></li>
                                 <li><a href="shop.html">门店信息</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="single-footer-widget">
                             <h3>照片墙</h3>
                             <div class="instagram-image">
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/1.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/2.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/3.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/4.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/5.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/6.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/7.jpg" alt="">
                                 </div>
                                 <div class="single-insta-img">
                                     <img src="assets/img/instagram/8.jpg" alt="">
                                 </div>
                             </div>
                             Follow our instagram <i class="fa fa-angle-double-right"></i>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- Footer Widget Area End -->
     </div>
     <!-- Footer Top Area End -->
     <!-- Footer Bottom Area Start -->
     <div class="footer-bottom-area pt-15 pb-30">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 d-flex col-md-6">
                     <div class="footer-text-bottom">
                         <p>Copyright &copy; <a href="http://www.17sucai.com/">CGB1907-达内武汉洪山中心</a>. All Rights Reserved</p>
                     </div>
                 </div>
                 <div class="col-lg-6 col-md-6">
                     <div class="payment-img d-flex justify-content-end">
                         <img src="assets/img/payment.png" alt="">
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- Footer Bottom Area End -->
 </footer>
 <!-- Footer Area End -->
        
        <!-- All js here -->
        <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
